In [4]:
import pandas as pd

In [5]:
df1=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepse.csv")
print(df1)

     Symbol       Date     Open     High      Low    Close Percent Change  \
0     NEPSE   2/1/2022  2875.74  2897.18  2855.95  2891.30           0.67
1     NEPSE  1/31/2022  2895.77  2909.13  2860.70  2871.05           -0.5
2     NEPSE  1/30/2022  2805.01  2885.62  2805.01  2885.53            3.8
3     NEPSE  1/27/2022  2778.89  2804.07  2776.74  2779.98           0.12
4     NEPSE  1/26/2022  2817.17  2819.74  2760.88  2776.65          -1.36
...     ...        ...      ...      ...      ...      ...            ...
3434  NEPSE  1/21/2007   529.81   529.81   529.81   529.81              0
3435  NEPSE  1/18/2007   535.94   535.94   535.94   535.94              0
3436  NEPSE  1/17/2007   538.53   538.53   538.53   538.53              0
3437  NEPSE  1/15/2007   538.36   538.36   538.36   538.36              0
3438  NEPSE  1/14/2007   537.09   537.09   537.09   537.09              0

            Volume
0     6.574842e+09
1     5.154178e+09
2     6.324274e+09
3     3.343414e+09
4     4.313154e+09
...            ...
3434  0.000000e+00
3435  0.000000e+00
3436  0.000000e+00
3437  0.000000e+00
3438  0.000000e+00

[3439 rows x 8 columns]

In [6]:
df2=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_CHCL_1995-02-04_2022-02-24.csv")
print(df2)

     Symbol        Date   Open   High    Low  Close Percent Change  Volume
0      CHCL  2022-02-23  500.3  518.0  500.2  510.0           0.00   30070
1      CHCL  2022-02-22  516.0  523.0  508.0  510.0          -0.97   31378
2      CHCL  2022-02-21  509.0  520.0  500.0  515.0           3.02   22051
3      CHCL  2022-02-20  498.5  509.0  489.0  499.9          -1.65   33658
4      CHCL  2022-02-17  507.0  512.0  506.1  508.3           0.26   14120
...     ...         ...    ...    ...    ...    ...            ...     ...
2301   CHCL  2012-01-05  619.0  614.0  604.0  613.0          -0.97    1180
2302   CHCL  2012-01-04  614.0  619.0  600.0  619.0           0.81    5290
2303   CHCL  2012-01-03  610.0  620.0  595.0  614.0           0.66    4810
2304   CHCL  2012-01-02  602.0  620.0  603.0  610.0           1.33    1110
2305   CHCL  2012-01-01  601.0  630.0  597.0  602.0           0.17    2940

[2306 rows x 8 columns]

In [7]:
df3=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_FOWAD_1995-02-04_2022-02-24.csv")
print(df3)

     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0     FOWAD  2022-02-23  2360.0  2360.0  2320.0  2320.0          -1.28    1989
1     FOWAD  2022-02-22  2374.0  2374.5  2330.0  2350.0           0.51    4690
2     FOWAD  2022-02-21  2359.9  2360.9  2311.0  2338.0           0.86    2677
3     FOWAD  2022-02-20  2322.6  2350.0  2287.0  2318.0          -2.19    7666
4     FOWAD  2022-02-17  2365.0  2389.9  2353.0  2370.0           0.21    2407
...     ...         ...     ...     ...     ...     ...            ...     ...
1056  FOWAD  2017-06-11  1192.0  1215.0  1192.0  1239.0           3.93      26
1057  FOWAD  2017-06-07  1125.0  1169.0  1125.0  1169.0           5.98      30
1058  FOWAD  2017-06-06     0.0     0.0     0.0  1125.0           0.00       9
1059  FOWAD  2017-06-05  1103.0  1103.0  1103.0  1125.0           4.95      30
1060  FOWAD  2017-05-21  1051.0  1051.0  1051.0  1051.0           0.00     100

[1061 rows x 8 columns]

In [8]:
df4=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_HDL_1995-02-04_2022-02-24.csv")
print(df4)

     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0       HDL  2022-02-23  4170.0  4215.0  4120.0  4136.1          -0.72   23081
1       HDL  2022-02-22  4200.0  4215.0  4160.1  4166.0          -0.14   24890
2       HDL  2022-02-21  4150.0  4200.0  4150.0  4172.0           0.36   17959
3       HDL  2022-02-20  4170.0  4224.0  4086.7  4157.0          -2.30   36960
4       HDL  2022-02-17  4300.0  4300.0  4240.0  4255.0          -1.00   28638
...     ...         ...     ...     ...     ...     ...            ...     ...
1148    HDL  2012-07-16   100.0   100.0   100.0   100.0           0.00      50
1149    HDL  2012-07-08   100.0   100.0   100.0   100.0           0.00   13810
1150    HDL  2012-04-30    99.0   100.0    98.0   100.0           1.01    5730
1151    HDL  2012-03-20    99.0    99.0    99.0    99.0           0.00      40
1152    HDL  2012-02-07   100.0    99.0    99.0    99.0          -1.00      20

[1153 rows x 8 columns]

In [9]:
df5=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_NABIL_1995-02-04_2022-02-24.csv")
print(df5)

     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0     NABIL  2022-02-23  1084.0  1085.0  1065.0  1067.5          -0.28   29641
1     NABIL  2022-02-22  1080.0  1080.0  1069.0  1070.5           0.33   41743
2     NABIL  2022-02-21  1070.0  1073.0  1063.0  1067.0           0.47   39297
3     NABIL  2022-02-20  1070.0  1075.0  1045.0  1062.0          -1.58   61489
4     NABIL  2022-02-17  1081.0  1094.0  1070.0  1079.0          -0.09   34444
...     ...         ...     ...     ...     ...     ...            ...     ...
2295  NABIL  2012-01-05   865.0   875.0   858.0   858.0          -0.81     121
2296  NABIL  2012-01-04   892.0   875.0   842.0   865.0          -3.03     490
2297  NABIL  2012-01-03   900.0   916.0   892.0   892.0          -0.89    2653
2298  NABIL  2012-01-02   879.0   913.0   882.0   900.0           2.39    1002
2299  NABIL  2012-01-01   873.0   879.0   851.0   879.0           0.69     799

[2300 rows x 8 columns]

In [10]:
df6=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_NICA_1995-02-04_2022-02-24.csv")
print(df6)

     Symbol        Date   Open   High    Low  Close Percent Change  Volume
0      NICA  2022-02-23  810.0  810.0  801.0  804.0          -0.50   26347
1      NICA  2022-02-22  806.0  815.0  802.0  808.0           0.24   37501
2      NICA  2022-02-21  808.0  810.0  798.0  806.1           0.37   30102
3      NICA  2022-02-20  799.7  812.0  790.0  803.1          -1.58   58816
4      NICA  2022-02-17  805.0  816.0  804.0  816.0           1.12   55936
...     ...         ...    ...    ...    ...    ...            ...     ...
1944   NICA  2013-07-21  669.0  735.0  682.0  735.0           9.87   12269
1945   NICA  2013-07-18  609.0  669.0  621.0  669.0           9.85    1706
1946   NICA  2013-07-17  554.0  609.0  565.0  609.0           9.93     150
1947   NICA  2013-07-15  504.0  554.0  529.0  554.0           9.92      40
1948   NICA  2013-07-14  750.0  504.0  477.0  504.0         -32.80      40

[1949 rows x 8 columns]

In [11]:
df7=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_NLIC_1995-02-04_2022-02-24.csv")
print(df7)

     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0      NLIC  2022-02-23  1360.0  1360.0  1330.1  1334.0          -0.12   17319
1      NLIC  2022-02-22  1359.0  1359.0  1335.0  1335.6          -0.10   34162
2      NLIC  2022-02-21  1342.0  1347.0  1330.0  1337.0          -0.07   33373
3      NLIC  2022-02-20  1347.0  1361.0  1302.0  1338.0          -2.62   61116
4      NLIC  2022-02-17  1371.0  1380.0  1366.0  1374.0           0.00   30149
...     ...         ...     ...     ...     ...     ...            ...     ...
2203   NLIC  2012-01-17   627.0   627.0   615.0   627.0           0.00      80
2204   NLIC  2012-01-16   615.0   627.0   627.0   627.0           1.95     200
2205   NLIC  2012-01-12   569.0   615.0   580.0   615.0           8.08     250
2206   NLIC  2012-01-05   558.0   569.0   569.0   569.0           1.97     375
2207   NLIC  2012-01-04   600.0   589.0   558.0   558.0          -7.00    3045

[2208 rows x 8 columns]

In [12]:
df8=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_SCB_1995-02-04_2022-02-24.csv")
print(df8)

     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0       SCB  2022-02-23   476.0   482.0   475.0   479.0           0.63   18738
1       SCB  2022-02-22   481.0   485.0   475.0   476.0           0.74   12049
2       SCB  2022-02-21   484.0   484.0   470.0   472.5          -0.78   14688
3       SCB  2022-02-20   473.0   482.8   464.0   476.2          -1.31    9988
4       SCB  2022-02-17   480.0   496.0   480.0   482.5          -0.92   14477
...     ...         ...     ...     ...     ...     ...            ...     ...
2299    SCB  2012-01-05  1375.0  1384.0  1350.0  1384.0           0.65    1204
2300    SCB  2012-01-04  1390.0  1385.0  1349.0  1375.0          -1.08     657
2301    SCB  2012-01-03  1390.0  1427.0  1390.0  1390.0           0.00    1351
2302    SCB  2012-01-02  1355.0  1400.0  1382.0  1390.0           2.58     455
2303    SCB  2012-01-01  1340.0  1370.0  1340.0  1355.0           1.12    1155

[2304 rows x 8 columns]

In [13]:
d1=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_CBBL_2010-03-13_2022-04-02.csv")
print(d1.shape)

(2065, 8)

In [14]:
d2=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_UNL_2010-03-13_2022-04-02.csv")
print(d2.shape)
print(d2)

(1017, 8)
     Symbol        Date     Open     High      Low    Close Percent Change  \
0       UNL  2022-03-31  19100.0  19100.0  19100.0  19100.0           0.52
1       UNL  2022-03-30  19002.0  19002.0  19002.0  19002.0          -1.95
2       UNL  2022-03-27  19379.9  19379.9  19379.9  19379.9           2.00
3       UNL  2022-03-24  19200.0  19200.0  19000.0  19000.0          -0.52
4       UNL  2022-03-23  19105.0  19105.0  19100.0  19100.0          -1.80
...     ...         ...      ...      ...      ...      ...            ...
1012    UNL  2012-02-08   6269.0   6144.0   5669.0   5669.0          -9.57
1013    UNL  2012-01-12   6148.0   6269.0   6148.0   6269.0           1.97
1014    UNL  2012-01-05   6273.0   6148.0   6148.0   6148.0          -1.99
1015    UNL  2012-01-04   6150.0   6273.0   6273.0   6273.0           2.00
1016    UNL  2012-01-03   6273.0   6150.0   6150.0   6150.0          -1.96

      Volume
0         10
1         10
2         10
3         20
4         80
...      ...
1012     150
1013      30
1014      10
1015     100
1016      10

[1017 rows x 8 columns]

In [15]:
d3=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_HGI_2010-03-13_2022-04-02.csv")
print(d3.shape)

(1824, 8)

In [16]:
d4=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_ADBL_2010-03-13_2022-04-02.csv")
print(d4.shape)
print(d4)

(2324, 8)
     Symbol        Date   Open   High    Low  Close Percent Change  Volume
0      ADBL  2022-03-31  387.0  388.0  383.0  384.1          -0.23   16460
1      ADBL  2022-03-30  383.0  388.0  381.0  385.0           0.29   19953
2      ADBL  2022-03-29  381.0  389.6  379.0  383.9          -0.54   18020
3      ADBL  2022-03-28  385.6  390.0  384.0  386.0          -0.54   22843
4      ADBL  2022-03-27  393.0  394.0  388.0  388.1          -1.25   20877
...     ...         ...    ...    ...    ...    ...            ...     ...
2319   ADBL  2012-01-05  114.0  114.0  112.0  113.0          -0.88     775
2320   ADBL  2012-01-04  115.0  115.0  113.0  114.0          -0.87    3220
2321   ADBL  2012-01-03  118.0  116.0  114.0  115.0          -2.54     490
2322   ADBL  2012-01-02  114.0  118.0  115.0  118.0           3.51     551
2323   ADBL  2012-01-01  115.0  115.0  113.0  114.0          -0.87    1111

[2324 rows x 8 columns]

In [17]:
# d5=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_BNT_2010-03-13_2018-02-01.csv")
# print(d5.shape)

In [18]:
d6=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_CBBL_2010-03-13_2022-04-02.csv")
print(d6.shape)
print(d6)

(2065, 8)
     Symbol        Date    Open    High     Low   Close Percent Change  Volume
0      CBBL  2022-03-31  1230.0  1250.0  1210.0  1210.0          -1.31    5646
1      CBBL  2022-03-30  1225.0  1230.0  1215.0  1226.0           0.49    4757
2      CBBL  2022-03-29  1245.0  1245.0  1217.0  1220.0          -0.41    3440
3      CBBL  2022-03-28  1230.0  1235.0  1224.1  1225.0          -0.81    3952
4      CBBL  2022-03-27  1282.0  1282.0  1235.0  1235.0          -1.75    5308
...     ...         ...     ...     ...     ...     ...            ...     ...
2060   CBBL  2012-02-06   323.0   320.0   320.0   320.0          -0.93      20
2061   CBBL  2012-01-25   322.0   323.0   323.0   323.0           0.31     977
2062   CBBL  2012-01-18   328.0   322.0   322.0   322.0          -1.83      21
2063   CBBL  2012-01-11   340.0   334.0   328.0   328.0          -3.53      30
2064   CBBL  2012-01-05   346.0   340.0   340.0   340.0          -1.73      20

[2065 rows x 8 columns]

In [19]:
d7=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_GBBL_2010-03-13_2022-04-02.csv")
print(d7.shape)

(2038, 8)

In [20]:
d8=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_HOTELS_2010-03-13_2022-04-02.csv")
print(d8.shape)

(2312, 8)

In [21]:
d9=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_LICN_2010-03-13_2022-04-02.csv")
print(d9.shape)

(2176, 8)

In [57]:
d10=pd.read_csv("C:\\Users\\Hp\\Documents\\FYP\\Data\\nepsealpha_export_price_NBL_2010-03-13_2018-02-01.csv")
print(d10.shape)
# print(d10)

(1154, 8)

In [37]:
df9=pd.merge(df1,df2,how="outer")
# ,df3,df4,df5,df6,df7,df8)
print(df9.shape)
# print(df.loc[1204])

(5745, 8)

In [38]:
df10=pd.merge(df9,df3,how='outer')
print(df10.shape)

(6806, 8)

In [39]:
df11=pd.merge(df10,df4,how='outer')
print(df11.shape)

(7959, 8)

In [40]:
df12=pd.merge(df11,df5,how='outer')
print(df12.shape)

(10259, 8)

In [41]:
df13=pd.merge(df12,df6,how='outer')
print(df13.shape)

(12208, 8)

In [42]:
df14=pd.merge(df13,df7,how='outer')
print(df14.shape)

(14416, 8)

In [43]:
df15=pd.merge(df14,df8,how='outer')
print(df15.shape)

(16720, 8)

In [44]:
df16=pd.merge(df15,d1,how='outer')
print(df16.shape)

(18785, 8)

In [45]:
df17=pd.merge(df16,d2,how='outer')
print(df17.shape)
# print(df17)

(19802, 8)

In [46]:
df18=pd.merge(df17,d3,how='outer')
print(df18.shape)

(21626, 8)

In [47]:
df19=pd.merge(df18,d4,how='outer')
print(df19.shape)

(23950, 8)

In [49]:
df20=pd.merge(df19,d6,how='outer')
print(df20.shape)

(23950, 8)

In [50]:
df21=pd.merge(df20,d7,how='outer')
print(df21.shape)

(25988, 8)

In [36]:
df22=pd.merge(df21,d8,how='outer')
print(df22.shape)

(28300, 8)

In [51]:
df23=pd.merge(df22,d9,how='outer')
print(df23.shape)

(30476, 8)

In [58]:
df24=pd.merge(df23,d10,how='outer')
print(df24.shape)

C:\Users\Hp\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1204: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat